In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [ ]:
import numpy as np
import pandas as pd
path='train.csv'
df = pd.read_csv(path)
df.head()

   id cat0 cat1 cat2 cat3  ...    cont10    cont11    cont12    cont13    target
0   1    B    B    B    C  ...  0.237281  0.377873  0.322401  0.869850  8.113634
1   2    B    B    A    A  ...  0.906013  0.921701  0.261975  0.465083  8.481233
2   3    A    A    A    C  ...  0.748809  0.620126  0.541474  0.763846  8.364351
3   4    B    B    A    C  ...  0.346010  0.714610  0.540150  0.280682  8.049253
4   6    A    A    A    C  ...  1.000773  0.776742  0.625849  0.250823  7.972260

[5 rows x 26 columns]

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

X_full = pd.read_csv('train.csv')
X_test_full = pd.read_csv('test.csv')

# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['target'], inplace=True)
y = X_full.target
X_full.drop(['target'], axis=1, inplace=True)

# To keep things simple, we'll use only numerical predictors
X = X_full.select_dtypes(exclude=['object'])
X_test = X_test_full.select_dtypes(exclude=['object'])

# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [ ]:
df1 = X_full.fillna(0)

In [ ]:
X_train

            id     cont0     cont1  ...    cont11    cont12    cont13
154452  257386  0.402449  0.718484  ...  0.363903  0.331813  0.474680
297220  495461  0.554185 -0.042930  ...  0.164655  0.279045  0.452538
177        320  0.734878  0.415996  ...  0.332158  0.311990  0.463616
44603    74032  1.005455  0.482119  ...  0.911150  0.611461  0.477071
158177  263581  1.033922  0.354340  ...  0.782965  0.819652  0.772523
...        ...       ...       ...  ...       ...       ...       ...
211543  352780  0.399041  0.562023  ...  0.708841  0.688663  0.295849
86293   143660  0.748589  0.355250  ...  0.496509  0.418478  0.859109
122579  204203  0.273113  0.287936  ...  0.380667  0.380243  0.477891
152315  253874  0.671079  0.627135  ...  0.482385  0.288147  0.271896
117952  196576  0.400731  0.421628  ...  0.545310  0.177195  0.773066

[240000 rows x 15 columns]

In [ ]:
df1

            id cat0 cat1 cat2  ...    cont10    cont11    cont12    cont13
0            1    B    B    B  ...  0.237281  0.377873  0.322401  0.869850
1            2    B    B    A  ...  0.906013  0.921701  0.261975  0.465083
2            3    A    A    A  ...  0.748809  0.620126  0.541474  0.763846
3            4    B    B    A  ...  0.346010  0.714610  0.540150  0.280682
4            6    A    A    A  ...  1.000773  0.776742  0.625849  0.250823
...        ...  ...  ...  ...  ...       ...       ...       ...       ...
299995  499993    B    B    A  ...  0.422541  1.063463  0.697685  0.506404
299996  499996    A    B    A  ...  0.301015  0.268447  0.577055  0.823611
299997  499997    B    B    A  ...  0.661007  0.629606  0.714139  0.245732
299998  499998    A    B    A  ...  0.288768  0.611169  0.380254  0.332030
299999  499999    A    A    A  ...  0.734707  0.484392  0.639754  0.689317

[300000 rows x 25 columns]

In [ ]:
data_types=["cat0","cat1", "cat2", "cat3", "cat4","cat5","cat6","cat7","cat8","cat9"]

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
for i in range(1,len(data_types)+1):
  df1[df1.columns[i]]=labelencoder.fit_transform(df1[df1.columns[i]])

In [ ]:
df1

            id  cat0  cat1  cat2  ...    cont10    cont11    cont12    cont13
0            1     1     1     1  ...  0.237281  0.377873  0.322401  0.869850
1            2     1     1     0  ...  0.906013  0.921701  0.261975  0.465083
2            3     0     0     0  ...  0.748809  0.620126  0.541474  0.763846
3            4     1     1     0  ...  0.346010  0.714610  0.540150  0.280682
4            6     0     0     0  ...  1.000773  0.776742  0.625849  0.250823
...        ...   ...   ...   ...  ...       ...       ...       ...       ...
299995  499993     1     1     0  ...  0.422541  1.063463  0.697685  0.506404
299996  499996     0     1     0  ...  0.301015  0.268447  0.577055  0.823611
299997  499997     1     1     0  ...  0.661007  0.629606  0.714139  0.245732
299998  499998     0     1     0  ...  0.288768  0.611169  0.380254  0.332030
299999  499999     0     0     0  ...  0.734707  0.484392  0.639754  0.689317

[300000 rows x 25 columns]

In [ ]:
df1.describe()

                  id           cat0  ...         cont12         cont13
count  300000.000000  300000.000000  ...  300000.000000  300000.000000
mean   250018.576947       0.356233  ...       0.494561       0.508273
std    144450.150010       0.478886  ...       0.247292       0.222950
min         1.000000       0.000000  ...      -0.074208       0.151050
25%    124772.500000       0.000000  ...       0.289074       0.300669
50%    250002.500000       0.000000  ...       0.422887       0.472400
75%    375226.500000       1.000000  ...       0.714502       0.758447
max    499999.000000       1.000000  ...       0.975035       0.905992

[8 rows x 25 columns]

In [ ]:
y_train

154452    7.907810
297220    7.082808
177       8.920846
44603     8.073544
158177    8.059156
            ...
211543    7.892606
86293     7.474734
122579    7.348081
152315    8.890868
117952    8.869979
Name: target, Length: 240000, dtype: float64

In [ ]:
model = DecisionTreeRegressor(max_depth=6)
model.fit(df1, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=6,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Function for comparing different approaches
def score_dataset(preds, y_valid):
    return mean_absolute_error(y_valid, preds)

In [ ]:
 model = RandomForestRegressor(n_estimators=100, random_state=0)
   #model.fit(X_train, y_train)
   # preds = model.predict(X_valid)

In [ ]:
#score_dataset(preds_valid,y_valid)

In [ ]:
# X test ko clean kar rahy hain

**X test ko clean kar rahy hain**

In [ ]:
X_test_full

            id cat0 cat1 cat2  ...    cont10    cont11    cont12    cont13
0            0    B    B    B  ...  0.244476  0.087914  0.301831  0.845702
1            5    A    B    A  ...  0.549568  0.905097  0.850684  0.693940
2           15    B    A    A  ...  0.491667  0.384315  0.376689  0.508099
3           16    B    B    A  ...  0.988340  0.411828  0.393585  0.461372
4           17    B    B    A  ...  0.648932  0.385935  0.370401  0.900412
...        ...  ...  ...  ...  ...       ...       ...       ...       ...
199995  499987    B    A    A  ...  0.877273  0.532410  0.605397  0.884581
199996  499990    B    A    A  ...  0.202295  0.416875  0.406205  0.758665
199997  499991    A    B    B  ...  0.390524  0.334026  0.378987  0.839416
199998  499994    A    A    A  ...  0.894193  0.794102  0.844279  0.890473
199999  499995    A    A    A  ...  0.694336  0.745698  0.568525  0.783568

[200000 rows x 25 columns]

In [ ]:
X_test_full.isnull().sum()

id        0
cat0      0
cat1      0
cat2      0
cat3      0
cat4      0
cat5      0
cat6      0
cat7      0
cat8      0
cat9      0
cont0     0
cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
dtype: int64

In [ ]:
data_types=["cat0","cat1", "cat2", "cat3", "cat4","cat5","cat6","cat7","cat8","cat9"]

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
for i in range(1,len(data_types)+1):
  X_test_full[X_test_full.columns[i]]=labelencoder.fit_transform(X_test_full[X_test_full.columns[i]])

In [ ]:
X_test_full

            id  cat0  cat1  cat2  ...    cont10    cont11    cont12    cont13
0            0     1     1     1  ...  0.244476  0.087914  0.301831  0.845702
1            5     0     1     0  ...  0.549568  0.905097  0.850684  0.693940
2           15     1     0     0  ...  0.491667  0.384315  0.376689  0.508099
3           16     1     1     0  ...  0.988340  0.411828  0.393585  0.461372
4           17     1     1     0  ...  0.648932  0.385935  0.370401  0.900412
...        ...   ...   ...   ...  ...       ...       ...       ...       ...
199995  499987     1     0     0  ...  0.877273  0.532410  0.605397  0.884581
199996  499990     1     0     0  ...  0.202295  0.416875  0.406205  0.758665
199997  499991     0     1     1  ...  0.390524  0.334026  0.378987  0.839416
199998  499994     0     0     0  ...  0.894193  0.794102  0.844279  0.890473
199999  499995     0     0     0  ...  0.694336  0.745698  0.568525  0.783568

[200000 rows x 25 columns]

In [ ]:
# Get validation predictions and MAE
#preds_valid = model.predict(X_test_full)

NotFittedError: ignored

In [ ]:
# Save test predictions to file
a = {'id': X_test['id'],'target': preds_valid}

In [ ]:
output = pd.DataFrame.from_dict(a)

In [ ]:

output.to_csv('submission5.csv', index=False)

**YAHA TAK HUMARA CODE  HAI**

In [ ]:
data_types=["cat0","cat1", "cat2", "cat3", "cat4","cat5","cat6","cat7","cat8","cat9"]
df2 = X_test_full
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
for i in range(1,len(data_types)+1):
  df2[df2.columns[i]]=labelencoder.fit_transform(df2[df2.columns[i]])

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import StandardScaler
from statistics import mean

X_train, X_test, Y_train, Y_test = train_test_split(df1, y, train_size=0.7, test_size=0.3)

In [ ]:
scaler = StandardScaler()
features = scaler.fit_transform(X_train)
scaled_x_test = scaler.fit_transform(X_test)
regression = LinearRegression()
model = regression.fit(features, Y_train)
preds = model.predict(scaled_x_test)

mean(cross_val_score(regression, preds.reshape(-1,1), Y_test, cv=10))

In [ ]:
from sklearn.svm import SVR
features = scaler.fit_transform(df1)
regressor = SVR(kernel = 'rbf')
regressor.fit(features,y)

In [ ]:
#model = DecisionTreeRegressor(max_depth=10)
#model.fit(df1, y)

scaled_x_test = scaler.fit_transform(df2)
preds = model.predict(scaled_x_test)

In [ ]:
# Save test predictions to file
a = {'id': X_test_full['id'],'target': preds}
output = pd.DataFrame.from_dict(a)
output.to_csv('submission5  .csv', index=False)